.DS_Store
Thumbs.db
.vitepress/cache
docs/.vitepress/dist
mcp-server/.chroma
mcp-server/.venv
node_modules
__pycache__/
*.pyc
.python-version
.env
TODO.md

# IDEs
.vscode/
.idea/

# Python Virtual Environments
venv/
env/
.venv/